[Unit]
Description=Pacman Auto Download
After=network-online.target

[Service]
ExecStart=/usr/bin/pacman-auto-download
Nice=19
KillMode=process
SendSIGKILL=no

[Install]
WantedBy=multi-user.target
