[Unit]
Description=Pacman Auto Download Timer

[Timer]
OnBootSec=5min
OnUnitInactiveSec=60min
RandomizedDelaySec=10min
Unit=pacman-auto-download.service

[Install]
WantedBy=multi-user.target
